{% extends "layout.html" %}
{% block content %}
<div class="flex flex-col justify-center">
    <h1 class="font-bold justify-center self-center align-center text-7xl m-5">About</h1>
    <h2 class="font-bold justify-center self-center align-center text-5xl m-3">What is Nestling Bot?</h2>
    <p class="justify-center self-center align-center text-3sm m-5">Nestling Bot is a general Discord bot created by one dev to combat bots like MEE6 which cost a ton of money and stuff.</p>

    <h2 class="font-bold justify-center self-center align-center text-5xl m-3">Who is Nestling Bot created by?</h2>
    <p class="justify-center self-center align-center text-3sm m-5">Nestling Bot is being created by and was created by BlueRobin.</p>
</div>
{% endblock %}