{% extends "layout.html" %}
{% block content %}
<div class="flex flex-col justify-center">

    <h1 class="font-bold font-title justify-center self-center align-center text-7xl m-5">Welcome to Nestling Bot!</h1>
    <a class="justify-center align-center self-center text-2xl m-2 p-2 underline" href={{auth_url}}>Now with a new Bot Panel!</a>
    <a class="rounded-lg bg-gradient-to-bl from-gray-950 via-gray-900 to-black border-b-4 border-blue-500 self-center justify-center align-center m-20 text-xl p-2" href="https://discord.com/api/oauth2/authorize?client_id=1044320506943377439&permissions=3843929668855&scope=bot" >Add to your server</a>
</div>
{% endblock %}