<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <title>Nestling Bot</title>
</head>
<body class="flex m-0 p-0 min-h-screen text-white">
<div id="bg-gradient" class="m-0 p-0 flex flex-col flex-grow bg-gradient-to-tr from-black via-cyan-750 to-blue-800">
    <div id="navbar"
         class="flex m-0 p-5 mb-5 bg-gradient-to-bl from-gray-950 via-gray-900 to-black border-b-4 border-blue-500">
        <ul class="flex space-x-10 grow flex-row align-middle items-center">
            <div class="flex flex-row align-middle items-center space-x-2">
                <a href="/"><img class="object-scale-down align-middle w-[4rem] h-[4rem] rounded-full"
                                                                   src="{{url_for('static',filename = 'images/Nestling Bot-export.png')}}"></a>
            <li class="p-2"><a href="/" class="align-middle">Nestling
                Bot</a></li>
                </div>
            <li class="p-2 align-middle"><a href="about" class="align-middle">About</a>
            </li>
            <li class="p-2 align-middle"><a
                    class="align-middle" href="commands">Commands</a></li>
            <li class="p-2 align-middle"><a
                    class="align-middle"
                    href="https://discord.com/api/oauth2/authorize?client_id=1044320506943377439&permissions=3843929668855&scope=bot">Add
                to your server</a></li>
            <div class="flex grow flex justify-items-end justify-end">
                <li class="p-2 align-middle"><a
                        href="login" class="align-middle">Login</a></li>
            </div>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer" class="p-5 bg-gradient-to-bl from-gray-950 via-gray-900 to-black border-t-4 border-blue-500">hi</div>
</div>
</body>
</html>